fastapi==0.109.0
uvicorn[standard]==0.41.0
langchain==1.2.12
langchain-core==1.2.19
langchain-community==0.4.1
langchain-openai==1.1.11
langchain-huggingface==1.2.1
langchain-chroma==1.1.0
pydantic==2.12.5
pydantic-settings==2.13.1
python-multipart==0.0.22
python-dotenv==1.0.0
chromadb==1.5.5
huggingface-hub==0.36.2
sentence-transformers==2.3.1
pypdf==5.2.0
numexpr==2.8.7
sse-starlette==1.8.2
numpy==1.26.4
